body {
    background-color: rgb(1, 1, 1)
}

#menu{
    text-align: center;
    
    
}

.menu-item{
    display: inline-block;
    width: 150px;
    font-size: 25px;
    background-color: black; 
}

#menu .menu-item a:hover{
    color: #686868 
}

#menu .menu-item a{
    text-decoration: none;
    color: white;
}

#header img{
    width: 100%;
}

h1 {
    position: relative;
    color:white;
    font-size: 55px;
    text-align: center;
    margin: 0 auto;
    left: 0
    
        

}
